.homepage .logo-container {
	width: 100%;
	background: url('/images/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.homepage .logo-container img {
	max-width: 65%;
	display: block;
	margin: 0 auto;
}

.homepage md-divider {
	margin-top: 2em;
	margin-bottom: 2em;
}

.homepage .more-link {
	float: right;
	margin-right: 1em;
}

.homepage .decklists-container {
	overflow: hidden;
	padding-bottom: 3em;
}

.homepage .promo-container {
	text-align: center;
	margin-bottom: 3em;
}

.homepage .promo-container img {
	max-width: 100%;
	max-height: 8em;
}

.steam-promo {
	background: url('/images/steambg.png');
	background-size: cover;
	color: #fff;
}
.steam-promo md-list {
	font-size: 1.5em;
}
.steam-promo md-list-item i {
	margin-right: 1em;
}

.builder-promo {
	background: url('/images/builderpromo.png');
	background-size: cover;
}

.userdecks .builder-promo {
	background: url('/images/builderpromo2.png');
	background-size: cover;
}

.user-promo h3 {
	margin-top: 0;
	padding-top: 0;
}