<div ng-cloak class="deckview"> <strong ng-show="deckView.error" style="display: block; text-align: center;">{{deckView.error}}</strong>

  <md-content flex layout-padding ng-show="!deckView.error">
    <h1>{{deckView.deck.name || 'Untitled Deck'}}</h1>

    <p>
      <a href="http://www.faeriadecks.com/{{deckView.deck.url}}">faeriadecks.com/{{deckView.deck.url}}</a>
    </p>

    <star-rating
      ng-model="deckView.deck.rating.average"
      is-readonly="deckView.hasRated"
      on-rating-select="deckView.submitRating(rating)"></star-rating>
    <br />
    <md-button aria-label="Fork" class="md-raised md-primary" href="/deckbuilder/{{deckView.deck.url}}"> <i class="fa fa-code-fork"></i>
      Edit Copy
    </md-button>
    <div layout="row" class="img-list-container">

      <md-tabs md-dynamic-height md-border-bottom  flex="60">
        <md-tab label="Card List">
          <md-content class="md-padding">
            <md-list>
              <md-list-item ng-repeat="card in deckView.deck.deck track by $index"
                  style="background-image: url('/images/illustrations/{{ deckView.pad(card.id) }}.jpg');"
                  class="list-card">

                <p>{{ card.name }}</p>
                x{{ card.copies }}
                <md-tooltip md-direction="left" md-delay="50" class="deck-card-tooltip">
                  <img alt="{{ card.name }}" ng-src="/images/card-renders/{{ deckView.pad(card.id) }}.png" class="card-img"  />
                </md-tooltip>
              </md-list-item>
            </md-list>
          </md-content>
        </md-tab>

        <md-tab label="Card View">
          <md-content class="md-padding">
            <div ng-repeat="card in deckView.deck.deck track by $index" class="list-card-container">

              <img alt="{{ card.name }}" ng-src="/images/card-renders/{{ deckView.pad(card.id) }}.png" class="list-card-img"  />x{{ card.copies }}

            </div>
          </md-content>
        </md-tab>

        <md-tab label="Text List">
          <md-content class="md-padding">
            
              <div ng-repeat="card in deckView.deck.deck track by $index">
                  <p>{{ card.name }} x{{ card.copies }}</p>
              </div>
            
          </md-content>
        </md-tab>
      </md-tabs>

      <md-content layout-padding flex="40">
        <stats deck="deckView.deck.deck"></stats>
      </md-content>
    </div>
    <md-divider></md-divider>
    <ng-include src="'/views/footer.html'"></ng-include>
  </md-content>
</div>