<div layout="column" ng-cloak class="decklisting">
	<ng-include src="'/views/menu.html'"></ng-include>
	<div>
	  <md-content class="md-padding">
	    <div>
	      <md-card ng-repeat="deck in decks.decks track by $index" ng-show="decks.deckCardCount(deck) == 30">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">
	            	<a href="/{{deck.url}}">{{ deck.name || 'Untitled Deck'}}</a>
	            </span>
	            <span class="md-subhead">{{decks.deckCardCount(deck)}}</span>
	          </md-card-title-text>
	          <md-card-title-media>
	            <div class="md-media-lg card-media"></div>
	          </md-card-title-media>
	        </md-card-title>
	        <md-card-actions layout="row" layout-align="end center">
	          <span ng-repeat="color in decks.getColors(deck)" class="color {{color | lowercase}}"></span>
	        </md-card-actions>
	      </md-card>
	    </div>
	  </md-content>
	</div>
</div>