<div layout="column" ng-cloak class="decklisting" layout-padding>
	<section layout="row" layout-wrap layout-align="space-around center">
		<md-input-container>
        <label>Search</label>
        <input ng-model="decks.searchText" />
      </md-input-container>
        <md-checkbox
            ng-model="decks.colorFilters.human"
            aria-label="Show Neutral"
            flex="none">
          Neutral
        </md-checkbox>
        <md-checkbox
            ng-model="decks.colorFilters.blue"
            aria-label="Show Blue"
            flex="none">
          Blue
        </md-checkbox>
        <md-checkbox
            ng-model="decks.colorFilters.green"
            aria-label="Show Green"
            flex="none">
          Green
        </md-checkbox>
        <md-checkbox
            ng-model="decks.colorFilters.red"
            aria-label="Show Red"
            flex="none">
          Red
        </md-checkbox>
        <md-checkbox
            ng-model="decks.colorFilters.yellow"
            aria-label="Show Yellow"
            flex="none">
          Yellow
        </md-checkbox>
    </section>
    <div>
    <br />
    <md-divider hide-xs></md-divider>
    <br />
	</div>
	<md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="Top">
	  <md-content class="md-padding">
	    <div>
	      <deck-item ng-repeat="deck in decks.topDecks | fullDecks | filter:decks.searchText | deckColorFilter:decks.colorFilters track by $index" ng-show="deck.name" deck="deck"></deck-item>
	    </div>
	  </md-content>
	</md-tab>
	<md-tab label="Recent">
	  <md-content class="md-padding">
	    <div>
	      <deck-item ng-repeat="deck in decks.recentDecks | fullDecks | filter:decks.searchText | deckColorFilter:decks.colorFilters track by $index" deck="deck"></deck-item>
	    </div>
	  </md-content>
	</md-tab>
	</md-tabs>


	<div ng-show="!decks.topDecks.length">
	  <md-content class="md-padding">
	    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
	  </md-content>
	</div>

	<md-divider></md-divider>
	<ng-include src="'/views/footer.html'"></ng-include>
</div>