<div class="homepage" flex>
	<div layout="row" layout-xs="column">
		<div class="logo-container">
			<a href="/deckbuilder">
				<img src="/images/logo.png" />
			</a>
		</div>
	</div>

	<div layout="row" layout-xs="column" layout-sm="column" layout-align="stretch center" class="decklists-container" layout-padding>
		<div flex>
			<h3 layout-padding>Top Rated</h3>
			<deck-item ng-repeat="deck in home.topDecks | fullDecks | limitTo:10 track by $index" deck="deck"></deck-item>
			<a href="/decks/browse" class="more-link">more</a>
		</div>
		<div flex>
			<h3 layout-padding>Newest</h3>
			<deck-item ng-repeat="deck in home.recentDecks | fullDecks | limitTo:10 track by $index" deck="deck"></deck-item>
			<a href="/decks/browse" class="more-link">more</a>
		</div>
	</div>

	<div ng-show="!home.topDecks.length">
	  <md-content class="md-padding">
	    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
	  </md-content>
	</div>

	<md-divider></md-divider>

	<div layout="row" layout-align="space-around center" layout-padding class="promo-container">
		<div flex="33">
			<md-button layout-padding href="https://www.faeria.com/" target="_new"><img src="/images/faerialogo.png" /></md-button>
		</div>

		<div flex="33">
			<md-button layout-padding href="http://www.reddit.com/r/faeria" target="_new"> <i class="fa fa-reddit fa-4x"></i></md-button>
		</div>

		<div flex="33">
			<md-button layout-padding href="http://discord.gg/0b4MmDT5YwHv1ez8" target="_new"><img src="/images/discordlogo.png" /></md-button>
		</div>

	</div>

	<md-divider></md-divider>
	<ng-include src="'/views/footer.html'"></ng-include>
</div>