<div class="homepage" flex>
	<div layout="row" layout-xs="column">
		<div class="logo-container">
			<a href="/deckbuilder">
				<img src="/images/logo.png" />
			</a>
		</div>
	</div>

	<div layout="row" layout-xs="column" layout-sm="column" layout-align="stretch center" class="decklists-container" layout-padding>

		<div flex>
			<h3 layout-padding>Top Rated</h3>
			<md-card ng-repeat="deck in home.topDecks | fullDecks | limitTo:3 track by $index">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">
							<a href="/{{deck.url}}">{{ deck.name || 'Untitled Deck'}}</a>
						</span>
						<span class="md-subhead">
							<star-rating ng-model="deck.rating.average" is-readonly="true"></star-rating>
						</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<span ng-repeat="color in home.getColors(deck)" class="color {{color | lowercase}}"></span>
				</md-card-actions>
			</md-card>
			<a href="/decks/browse" class="more-link">more</a>
		</div>
		<div flex>
			<h3 layout-padding>Newest</h3>
			<md-card ng-repeat="deck in home.recentDecks | fullDecks | limitTo:3 track by $index">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">
							<a href="/{{deck.url}}">{{ deck.name || 'Untitled Deck'}}</a>
						</span>
						<span class="md-subhead">
							<star-rating ng-model="deck.rating.average" is-readonly="true"></star-rating>

							<span am-time-ago="deck.created"></span>
						</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<span ng-repeat="color in home.getColors(deck)" class="color {{color | lowercase}}"></span>
				</md-card-actions>
			</md-card>
			<a href="/decks/browse" class="more-link">more</a>
		</div>
	</div>

	<md-divider></md-divider>

	<div layout="row" layout-align="space-around center" layout-padding class="promo-container">
		<div flex="33">
			<md-button layout-padding href="https://www.faeria.com/" target="_new"><img src="/images/faerialogo.png" /></md-button>
		</div>

		<div flex="33">
			<md-button layout-padding href="http://www.reddit.com/r/faeria" target="_new"> <i class="fa fa-reddit fa-4x"></i></md-button>
		</div>

		<div flex="33">
			<md-button layout-padding href="http://discord.gg/0b4MmDT5YwHv1ez8" target="_new"><img src="/images/discordlogo.png" /></md-button>
		</div>

	</div>

	<md-divider></md-divider>
	<ng-include src="'/views/footer.html'"></ng-include>
</div>