<div layout="column" ng-cloak class="deckbuilder">
  <section layout="row" flex class='noselect'>
    <md-content flex layout-padding class="main-content">

      <md-input-container>
        <label>Card Search</label>
        <input ng-model="main.searchText" />
      </md-input-container>
      <section layout="row" layout-align="end center">
        <md-checkbox
            ng-model="main.colorFilters.human"
            aria-label="Show Human"
            flex>
          Human
        </md-checkbox>
        <md-checkbox
            ng-model="main.colorFilters.blue"
            aria-label="Show Human"
            flex>
          Blue
        </md-checkbox>
        <md-checkbox
            ng-model="main.colorFilters.green"
            aria-label="Show Green"
            flex>
          Green
        </md-checkbox>
        <md-checkbox
            ng-model="main.colorFilters.red"
            aria-label="Show Red"
            flex>
          Red
        </md-checkbox>
        <md-checkbox
            ng-model="main.colorFilters.yellow"
            aria-label="Show Yellow"
            flex>
          Yellow
        </md-checkbox>

        <br />
        <md-checkbox
            ng-model="main.typeFilters.creature"
            aria-label="Show Creatures"
            flex>
          Creatures
        </md-checkbox>

        <md-checkbox
            ng-model="main.typeFilters.event"
            aria-label="Show Events"
            flex>
          Events
        </md-checkbox>
        <md-checkbox
            ng-model="main.typeFilters.structure"
            aria-label="Show Structures"
            flex>
          Structures
        </md-checkbox>
      </section>
      
      <md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="6" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="1:1" md-row-height-lt-md="1:1"
        md-gutter="12px" md-gutter-gt-sm="8px">

        <md-grid-tile class="gray" md-rowspan="2" md-colspan="2" md-colspan-sm="1"
          ng-repeat="card in main.cards.cards | orderBy: ['color', 'faeriaCost', 'name'] | filter:main.searchText | colorFilter:main.colorFilters | typeFilter:main.typeFilters"
          class="card-selectable"
          ng-click="main.add(card)"
          ng-if="!card.uncollectable">

          <img alt="{{ card.name }}" ng-src="/images/illustrations/{{ main.pad(card.id) }}.jpg" class="card-img" />
          <div>
            <p class="type">{{card.type}}</p>
                
            <div class="icon-container" style="z-index:1; position: absolute; right: 0; top: 1em;">
              <p class="faeriacost">{{card.faeriaCost}}</p>
              <br />
              <p class="attack" ng-if="card.attack">{{card.attack}}</p>
              <br />
              <p class="health" ng-if="card.health">{{card.health}}</p>
            </div>


            <div class="elements-container" style="z-index:1; position: absolute; left: 0; top: 1em;">
              <p class="blue" ng-if="card.islands">{{card.islands}}</p>
              <p class="green" ng-if="card.forests">{{card.forests}}</p>
              <p class="red" ng-if="card.mountains">{{card.mountains}}</p>
              <p class="yellow" ng-if="card.deserts">{{card.deserts}}</p>
            </div>

            <div class="rarity {{card.rarity}}"></div>
          </div>
          <p class="txt" ng-bind-html="card.text" ng-show="card.text"></p>
          <md-grid-tile-footer>
            <h3>{{ card.name }}</h3>
          </md-grid-tile-footer>

        </md-grid-tile>

      </md-grid-list>

    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2 decklist" md-component-id="right" md-is-locked-open="true">
      <md-subheader class="md-no-sticky">
        <md-input-container>
          <label>Deck Name</label>
          <input ng-model="main.deckName" ng-change="main.deckChange()">
        </md-input-container>
        <strong class="count">{{main.totalCards}}</strong>
      </md-subheader>
      <md-button class="md-raised md-primary" ng-click="main.save();" ng-disabled="!main.deck.length">
        Save
      </md-button>
    
      <md-button class="md-raised" ng-click="main.reset()">
        Reset
      </md-button>

      <p ng-show="main.deckUrl" style="text-align: center">
        <a href="http://www.faeriadecks.com/{{main.deckUrl}}">
          faeriadecks.com/{{main.deckUrl}}
        </a>
      </p>
      <p class="error" ng-show="main.error">
        {{main.error}}
      </p>

      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Cards">
          <md-content class="md-padding">
            <md-list>     
               <md-list-item ng-repeat="card in main.deck track by $index"
                  ng-click="main.remove(card)"
                  style="background-image: url('/images/illustrations/{{ main.pad(card.id) }}.jpg');"
                  class="list-card">

                <p>{{ card.name }}</p> x{{ card.copies }}
              </md-list-item>
            </md-list>
          </md-content>
        </md-tab>
        <md-tab label="Stats">
          <md-content class="md-padding">
              <label>Creatures</label>
              <p>{{main.countStatValue('type', 'creature')}}</p>
              <label>Events</label>
              <p>{{main.countStatValue('type', 'event')}}</p>
              <label>Structures</label>
              <p>{{main.countStatValue('type', 'structure')}}</p>
              <hr />
              
              <label>Average Card Faeria Cost</label>
              <p>{{main.averageStat('faeriaCost')}}</p>

              <label>Average Creature Faeria Cost</label>
              <p>{{main.averageStat('faeriaCost', 'type', 'creature')}}</p>
              <label>Average Event Faeria Cost</label>
              <p>{{main.averageStat('faeriaCost', 'type', 'event')}}</p>
              <label>Average Structure Faeria Cost</label>
              <p>{{main.averageStat('faeriaCost', 'type', 'structure')}}</p>
              
              <hr />
              
              <label>Average Creature Attack</label>
              <p>{{main.averageStat('attack', 'type', 'creature')}}</p>
              <label>Average Creature Health</label>
              <p>{{main.averageStat('health', 'type', 'creature')}}</p>

              <label>Average Structure Health</label>
              <p>{{main.averageStat('health', 'type', 'structure')}}</p>

              <hr />

              <label>Highest Desert Cost</label>
              <p>{{main.highestStat('deserts')}}</p>
              <label>Highest Lake Cost</label>
              <p>{{main.highestStat('islands')}}</p>
              <label>Highest Mountain Cost</label>
              <p>{{main.highestStat('mountains')}}</p>
              <label>Highest Forest Cost</label>
              <p>{{main.highestStat('forests')}}</p>

              <hr />
              <label>Average Desert Cost</label>
              <p>{{main.averageStat('deserts', 'color', 'YELLOW')}}</p>
              <label>Average Lake Cost</label>
              <p>{{main.averageStat('islands', 'color', 'BLUE')}}</p>
              <label>Average Mountain Cost</label>
              <p>{{main.averageStat('mountains', 'color', 'RED')}}</p>
              <label>Average Forest Cost</label>
              <p>{{main.averageStat('forests', 'color', 'GREEN')}}</p>
          </md-content>
        </md-tab>
      </md-tabs>      
    </md-sidenav>
  </section>
</div>