<md-fab-toolbar md-direction="left" md-open="true">
  <md-fab-trigger class="align-with-text">
    <md-button aria-label="menu" class="md-fab md-primary">
      <md-icon><i class="fa fa-bars fa-2x"></i></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-toolbar>
    <md-fab-actions class="md-toolbar-tools">
      <a>
        <md-button aria-label="home" class="md-button">
          <img src="/images/logo.png" style="height: 100%"/>
        </md-button>
      </a>

      <a href="/">
        <md-button aria-label="Builder" class="md-button">
          Deckbuilder
        </md-button>
      </a>
      
      <a href="/decks/browse">
        <md-button aria-label="browse" class="md-button">
          Browse Decks
        </md-button>
      </a>

    </md-fab-actions>
  </md-toolbar>
</md-fab-toolbar>