<div class="pagination" ng-if="1 < pages.length || !autoHide">
    
    <md-button class="md-raised pagination-control left"
        ng-click="setCurrent(1)"
        ng-if="boundaryLinks"
        ng-class="{ disabled : pagination.current == 1 }">
        
        &laquo;
    </md-button>
    
    
    <md-button class="md-raised pagination-control left" ng-click="setCurrent(pagination.current - 1)"
        ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">

        &lsaquo;
    </md-button>
    

    <md-button class="md-raised pagination-control middle" ng-click="setCurrent(pageNumber)"
        ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)"
        ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">

        {{ pageNumber }}
    </md-button>



    <md-button class="md-raised pagination-control right" ng-click="setCurrent(pagination.current + 1)"
        ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">

        &rsaquo;
    </md-button>

    <md-button class="md-raised pagination-control right" ng-click="setCurrent(pagination.last)"
         ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }">

        &raquo;
    </md-button>
</div>
<div style="text-align: center; padding: 0 2em;" ng-show="pages.length">{{ range.total }} decks</div>
